@using Microsoft.AspNetCore.Hosting
@using Syncfusion.Blazor.Inputs;
@using System.IO;
@inject IWebHostEnvironment  WebHostingEnviroment

<div class="col-lg-4">
    <div class="card mb-3">

        <div class="card-body text-center shadow">
            <img class="rounded-circle mb-3 mt-4" src="img/dogs/image2.jpeg" width="160" height="160">
            <div class="mb-3">
                <button class="btn btn-primary btn-sm" type="button">Change Photo</button>

                <SfUploader AutoUpload="false"  AllowedExtensions=".jpg, .png, .jpeg">
                    <UploaderEvents ValueChange="OnChange"></UploaderEvents>
                </SfUploader>
            </div>
        </div>

    </div>
</div>


@code {
    
    private void OnChange(UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            string path = WebHostingEnviroment.WebRootPath;
            path += "/img/profile/" + file.FileInfo.Name;
            FileStream filestream = new FileStream(path, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
    }
}
