@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Login</h2>
                </div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" for="name">Email</label>
                        <input asp-for="Input.Email" class="form-control item" type="email" id="name">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" for="name">Password</label>
                        <input asp-for="Input.Password" class="form-control item" type="password" id="name">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                   

                    <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit">Login</button></div>
                </form>
                <div class="illustration"></div>
            </div>
        </section>
    </main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
