<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div>
            <a target="_blank" href="https://github.com/omarwasfi">
                <img src="img/Github-icon.png" width="20" height="20" />
                Projects
            </a>
            <div></div>
            <a target="_blank" href="https://www.facebook.com/omerwasfi/">
                <img src="img/Facebook-icon.png" width="20" height="20" />
                Contact
            </a>
            <div></div>
            <a target="_blank" href="https://wasfi.azurewebsites.net/about">
                <img src="img/Business man-icon.png" width="20 height="20" />
                About
            </a>
        </div>
    </div>

</footer>

@code {

}
