@inherits LayoutComponentBase

<body id="page-top" class=@BodyCssClass>
    <div id="wrapper">

        <nav class=@NavMenuCssClass style="filter: blur(0px) brightness(100%);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>SW</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/groups"><i class="fas fa-table"></i><span>Groups</span></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/people"><i class="fas fa-people-carry"></i><span>People</span></a></li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/Identity/Account/Login"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/Identity/Account/Register"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/people"><i class="fas fa-person-booth"></i><span>People</span></a></li>
                        </NotAuthorized>
                    </AuthorizeView>

                </ul>
                <div class="text-center d-none d-md-inline">
                    <button @onclick="ToggleNavMenu" class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button @onclick="ToggleNavMenu" class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <SearchNav />
                        <AuthorizeView>
                            <Authorized>
                                <UserNav />
                            </Authorized>
                        </AuthorizeView>

                    </div>
                </nav>

                <div class="container-fluid">
                    @Body
                </div>
            </div>
            <Footer />
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

</body>


@code{


    private bool NavMenuToggled = true;

    private string NavMenuCssClass => NavMenuToggled ?
        "navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 toggled" :
        "navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0";

    private string BodyCssClass => NavMenuToggled ?
        "sidebar-toggled" :
        "";


    private void ToggleNavMenu()
    {
        NavMenuToggled = !NavMenuToggled;

    }
}