@using Syncfusion.Blazor.Cards;


            <SfCard >

                <CardHeader Title="Harrisburg Keith" SubTitle="Hey" ImageSrc="img/dogs/image2.jpeg" />
                <CardContent>
                    <h6>Hi, I'm creative graphic design for print, new media based in Edenbridge</h6>
                    <h5>Hi, I'm creative graphic design for print, new media based in Edenbridge</h5>
                    <h4>Hi, I'm creative graphic design for print, new media based in Edenbridge</h4>
                </CardContent>
                <CardFooter>
                    <CardFooterContent>
                        <h6>31-12-2018 15:06:20 AM</h6>
                    </CardFooterContent>
                </CardFooter>
            </SfCard>




<style>
    
  
</style>

@code {

}
