@using Syncfusion.Blazor.Cards;


<SfCard>

    <CardHeader Title="Harrisburg Keith" SubTitle="31-12-2018 15:06:20 AM" ImageSrc="img/Profile/aliwasfi-gmail-com-IMG_9911.JPG" />
    <CardContent>
        <h6>Hi, I'm creative graphic design for print, new media based in Edenbridge</h6>
        
        <div class="row">
            <video width="320" height="240" controls>
                <source src="Videos/View From A Blue Moon - Official Trailer (4K Ultra HD) - John Florence.mp4" type="video/mp4">
            </video>
        </div>
    </CardContent>
</SfCard>




<style>
    .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 0px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-weight: bold;
    }

    .e-card .e-card-content {
        padding-top: 0px;
    }

    #HugeImage {
        text-align: center
    }

        #HugeImage > .e-card-image {
            margin: auto;
            margin-top: 20px;
            width: 64px;
            height: 64px;
            min-height: 64px;
        }

    .second-container .e-card .e-card-header .e-card-header-image {
        height: 48px;
        width: 48px;
    }


    .row {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@code {

}
