@page "/"
@using Syncfusion.Blazor.Calendars;
@using SW.Components.Post;
@using Syncfusion.Blazor.Cards;


<h1>Hello, world!</h1>

Welcome to your new app.



<SfCalendar TValue="DateTime"></SfCalendar>

<TextPost />


