@page "/"
@using Syncfusion.Blazor.Calendars;
<<<<<<< HEAD
@using SW.UI.Post;
@using Syncfusion.Blazor.Cards;

=======
>>>>>>> parent of 4bd6042... Login/Register

<h1>Hello, world!</h1>

Welcome to your new app.



<SfCalendar TValue="DateTime"></SfCalendar>

